
html, body {

    margin: 0;
    padding: 0;
    
    font-family: sans-serif;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: hsla(226, 100%, 8%, 1);
    height: 340px;
    width: 450px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 36px;
    padding-top: 36px;
 
}

.puntos-arriba {
    display: flex;
    padding-right: 10px;
    
}

.puntos-abajo {
    display: flex;
    padding-left: 10px;
    
}

.arriba {
    width: 25px;
    margin-left: auto;
}

.abajo {
    width: 25px;
    margin-right: auto;
}


.card1 {
    height: 250px;
    width: 420px;
    border-radius: 8px;
    background-color: rgb(250, 219, 1);
   
   
}

.contenido {
    height: 150px;
    width: 420px;
    
    display: flex;

}

.textos {
    
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.textos p {
    padding-top: 20px;
    font-size: xx-small;
    margin: 0;
}

.textos h1 {
    margin: 0;
    margin-top: 10px;
}


.transparent {
    
    width: 420px;
    border-radius: 8px;
    background-color: hsla(226, 100%, 8%, 1);
    color: white;
    
    display: flex;
    
}

.footer1 {
  color: gray;
  margin: 0;
  font-weight: 700;
  font-size: small;
  
}

/* SEGUNDA TARJETA  */

 .container2 {
    background-color: rgb(155, 153, 152);
    height: 340px;
    width: 450px;

    display: flex;
    align-items: center;
    flex-direction: column;
    
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 36px;
    padding-top: 36px;
 
}


.card2 {
    height: 200px;
    width: 420px;
    border-radius: 8px;
    background-color: rgb(253, 253, 253);


}



.avatar1 {
    width: 40px;
    border-radius: 50%;
    height: 36px;
   
    
}

.user1 { 
    color: rgb(35, 122, 245);
    font-weight: 200;
    font-weight: 600;
    display: flex;
    align-items: flex-start;
}



.monumento {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 9px;
}

.hermanos {
    display: flex;
    flex-direction: row;
    /* background-color: coral; */
    align-items: center;
}

.footer2 {
    background-color: pink;
}




