
html, body {

    margin: 0;
    height: 100%;
    min-height: 100%;
    font-family: sans-serif;

    display: flex;
    justify-content: center;
}

.background {
    background-color: hsla(226, 100%, 8%, 1);
    height: 340px;
    width: 450px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 36px;
    padding-top: 36px;
 
}

.puntos-arriba {
    display: flex;
    padding-right: 10px;
    
}

.puntos-abajo {
    display: flex;
    padding-left: 10px;
    
}

.arriba {
    width: 25px;
    margin-left: auto;
}

.abajo {
    width: 25px;
    margin-right: auto;
}


.yellow {
    height: 250px;
    width: 420px;
    border-radius: 8px;
    background-color: rgb(250, 219, 1);
   
   
}

.contenido {
    height: 150px;
    width: 420px;
    
    display: flex;

}

.textos {
    
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.textos p {
    padding-top: 20px;
    font-size: xx-small;
    margin: 0;
}

.textos h1 {
    margin: 0;
    margin-top: 10px;
}


.transparent {
    
    width: 420px;
    border-radius: 8px;
    background-color: hsla(226, 100%, 8%, 1);
    color: white;
    
    display: flex;
    
}

.footer {
  color: gray;
  margin: 0;
  font-weight: 700;
  font-size: small;
  
}



